/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #2F8F75;
  background-color: #F2F2F3;
}

.pure-menu-heading  {
  font-family: 'Bree Serif', serif;
  font-size: 2.5em;
}

form > div {
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
}

.pure-g {
  padding-bottom: 50px;
}

input {
  text-align: center;
}

.pure-menu-link {
  color: #2F8F75;
}

img {
  height: 50px;
  width: 100px;
}

.button-books {
  background: #2F8F75;
  color: #F2F2F3;
}
