<div class="bookGrid">
  <h3>Read/Keep</h3>
  <div class="" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Read/Keep' ">
    <h4>Title: {{book.title}}</h4>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>Page Count: {{book.pageCount}}</p>
    <p>Status: {{book.status}}</p>
  </div>

  <h3>Read/Donate</h3>
  <div class="" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Read/Donate' ">
    <h4>Title: {{book.title}}</h4>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>Page Count: {{book.pageCount}}</p>
    <p>Status: {{book.status}}</p>
  </div>

  <h3>In Progress</h3>
  <div class="" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'In Progress' ">
    <h4>Title: {{book.title}}</h4>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>Page Count: {{book.pageCount}}</p>
    <p>Status: {{book.status}}</p>
  </div>

  <h3>Haven't Read</h3>
  <div class="" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Haven\'t Read' ">
    <h4>Title: {{book.title}}</h4>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>Page Count: {{book.pageCount}}</p>
    <p>Status: {{book.status}}</p>
  </div>

  <h3>Won't Read</h3>
  <div class="" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Won\'t Read' ">
    <h4>Title: {{book.title}}</h4>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>Page Count: {{book.pageCount}}</p>
    <p>Status: {{book.status}}</p>
  </div>
</div>
