<div class="pure-form">
  <h2>Add A Book:</h2>
  <form ng-submit="books.addBook(home.currentUser)">
    <div class="">
      <input type="text" placeholder="Book Title" ng-model="books.newBook.title">
    </div>
    <div class="">
      <input type="text" placeholder="Book Author" ng-model="books.newBook.author">
    </div>
    <div class="">
      <input type="text" placeholder="Book Genre" ng-model="books.newBook.genre">
    </div>
    <div class="">
      <input type="text" placeholder="Book Page Count" ng-model="books.newBook.pageCount">
    </div>
    <div class="">
      <input type="radio" ng-model="books.newBook.status" value="Read/Keep">Read/Keep
      <input type="radio" ng-model="books.newBook.status" value="Read/Donate">Read/Donate
      <input type="radio" ng-model="books.newBook.status" value="In Progress">In Progress <br>
      <input type="radio" ng-model="books.newBook.status" value="Haven't Read">Haven't Read
      <input type="radio" ng-model="books.newBook.status" value="Won't Read">Won't Read
    </div>
      <button class="button-books pure-button">Submit Book</button>
  </form>
</div>

<h2>Your Books</h2>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-5">
    <h3>Read/Keep</h3>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Read/Keep' ">
      <book />
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-5">
    <h3>Read/Donate</h3>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Read/Donate' ">
      <book />
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-5">
    <h3>In Progress</h3>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'In Progress' ">
      <book />
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-5">
    <h3>Haven't Read</h3>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Haven\'t Read' ">
      <book />
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-5">
    <h3>Won't Read</h3>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="book in books.savedBooks | orderBy: 'status' | filter: 'Won\'t Read' ">
      <book />
    </div>
  </div>
</div>
